<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.google.example.spoons_game">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="com.google.example.spoons_game.SignIn">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.google.example.spoons_game.Rules"></activity>
        <activity android:name="com.google.example.spoons_game.WelcomeScreen"></activity>
        <activity android:name="com.google.example.spoons_game.SevenSpoons"></activity>
        <activity android:name="com.google.example.spoons_game.SixSpoons"></activity>
        <activity android:name="com.google.example.spoons_game.FiveSpoons"></activity>
        <activity android:name="com.google.example.spoons_game.FourSpoons"></activity>
        <activity android:name="com.google.example.spoons_game.ThreeSpoons"></activity>
        <activity android:name="com.google.example.spoons_game.TwoSpoons"></activity>
        <activity android:name="com.google.example.spoons_game.OneSpoon"></activity>
        <activity android:name="com.google.example.spoons_game.WaitingScreen"></activity>
    </application>

</manifest>